.navber{
    /* width: 1440px; */
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    padding-right: 100px;
}
.navber a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 17px;
}
.navber a:hover{
   color: orange;
}