.btn-btn {
    padding-right: 100px;
}

.navber-start a:hover{
   color: orange;
}


    
/* For mobile phones: */ 
@media only screen and (max-width: 768px) {
    .navber-start {
        width: 100%;
    
    }
  } 


  